* {
  margin: 0; 
  padding: 0; 
  text-decoration: none; 
  font-size: 1em; 
  outline: none;
  }
  
  code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit; 
  font-size: 1em; 
  white-space: normal;
  }
  
  dfn, i, cite, var, address, em {
  font-style: normal;
  }
  
  th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  }
  
  a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
  }
  
  table {
  border-collapse: collapse; 
  border-spacing: 0;
  }
  
  caption, th, td, center {
  text-align: left; 
  vertical-align: top;
  }
  
  body {
  line-height: 1; 
  background: white; 
  color: black;
  }
  
  q {
  quotes: "" "";
  }
  
  ul, ol, dir, menu {
  list-style: none;
  }
  
  sub, sup {
  vertical-align: baseline;
  }
  
  a {
  color: inherit;
  }
  
  hr {
  display: none;
  } /* we don't need a visual hr in layout */
  
  font {
  color: inherit !important; 
  font: inherit !important; 
  color: inherit !important;
  } /* disables some nasty font attributes in standard browsers */
  
  marquee {
  overflow: inherit !important; 
  -moz-binding: none;
  }
  
  blink {
  text-decoration: none;
  }
  
  nobr {
  white-space: normal;
  }
/*Links*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
/*Modifications*/
html{
  max-height: 5000px;
height: 100%;
width: 100%;
}
body {
  text-align: center;
  overflow-x: hidden;
}
/*Nav Bar Section*/
.navcontainer {
  position: sticky;
  background-color: #64769c;
  padding: 3%;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 30px;
  z-index: 1;
  width: 100%;
  border-bottom: solid #fff 5px;
}
@media screen and (max-width: 400px) {
  
}
#flex-container li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  background-color: #454f57;
  font-size: 20px;
  border: solid;
}
a:link {
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
}
a:hover {
  background-color: #676a6e;
  padding-top: 15px;
  padding-bottom: 12px;
  border: solid #000000;
}
/*Video Section*/
.background {
  background-image: url(https://images.unsplash.com/photo-1584109807991-ebfcd80112a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1308&q=80);
  background-size: contain;
  width: 100%;
  max-height: 100vh;
  height: 70%;
}
video {
  position: relative;
  top: 70px;
  width: 640px;
  height: 360px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .background {
    background-size: 100vw;
    max-height: 100vh;
    height: 70%;
  }
  video {
    position: relative;
    width: 426px;
    height: 240px;
  }
}
/*Why Section*/
.why-style {
  display: table;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
#why-header {
  font-size: 40px;
  text-align: left;
  float: left;
  margin: 80px 0px 0px 50px;
  color: #454f57;
  line-height: 60px;
  background: #e1d9fc;
}
#hand-paper {
float: right;
max-width: 500px; 
background: ;
border-left: solid #454f57;
}
@media screen and (max-width: 600px) {
  #hand-paper {
    display: none;
  }
  .why-style {
    display: table;
    background: #e1d9fc;
  }
  #why-header {
    font-size: 40px;
    text-align: center;
    float: none;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 600px) {
  .why-p {
    width: 50%;
    margin: 0px;
    float: left;
  }
  #why-header {
    width: 50%;
    font-size: px;
    margin-left: 50px;
    margin-top: 50px;
    color: #454f57;
  }
  #hand-paper {
    border-left: none;
  }
  .why-style {
    background: #e1d9fc;
  }
}
/*Pricing Section*/
.pricing-style {
  display: table;
  background-color: #676a6e;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
#pricing-head {
  float: right;
  font-size: 40px;
  text-align: center;
  width: 40%;
  color: #fff;
  margin: 50px 50px 0px 0px;
}
#stacked-paper {
  float: left;
  max-width: 600px;
  margin-left: 0px;
  
}
::placeholder {
  font-size: 20px;
}
.price-b-style {
  color: #64769c;
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
  background-color: #fff;
  border: solid #454f57 5px;
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  #stacked-paper {
    display: none;
  }
  #pricing-head {
    font-size: 40px;
    text-align: center;
    float: none;
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
  .pricing-style {
    display: table;
    background-color: #676a6e;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 100%;
  }
}
/*Form Section*/
#form-container {
  margin: auto;
  background-image: url(https://images.unsplash.com/photo-1586791709195-807850ca6c97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background: contain;
  padding: 100px;
  line-height: 40px;
}
.input-style {
  width: 350px;
  height: 35px;
}
.button-style {
  width: 40%;
  height: 50px;
  background-color: #454f57;
  color: #fff;
  border: solid;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}
.form-head {
  line-height: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #64769c;
  text-align: center;
}
.form-label {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin: auto;
  margin-top: 20px;
  margin-left: 350px;
  color: #676a6e;
  letter-spacing: 2px;
}
.wazoo {
  color: #64769c; 
  font-size: 45px;
}
@media screen and (max-width: 700px) {
  form {
    position: relative;
    top: -45px;
  }
  #form-container{
    padding-bottom: 0px;
  }
  .form-head {
    line-height: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #64769c;
    text-align: center;
    line-height: 60px;
  }
  .button-style {
    width: 40%;
    height: 50px;
    background-color: #454f57;
    color: #fff;
    border: solid;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
  }
  .form-label {
    font-size: 30px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-left: 30px;
    color: #fff;
  }
  .wazoo {
    color: #fff;
    font-size: 45px;
  }
}
/*Icon Link Section*/
.icon-section-style {
    background-color: #676a6e;
    padding: 100px;
}
#icons a {
  color: #000000;
  margin: 70px;
}
#icons a:hover {
  border: none;
  color: #fff;
}
#icons p {
  text-align: center;
}
@media screen and (max-width: 700px) {
  #icons a {
    font-size: 10px;
    margin: 0px 15px 0px 15px;
    color: #000000;
    display: inline-flex;
  }
  #icons a:hover {
    color: #fff;
  
  }
}
/*Footer Section*/
.footer-container {
  display: block;
  color: #fff;
  width: 100%;
  max-width: 100%;
}
.f-style {
  background-color: #64769c;
  width: 100%;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
@media (max-width: 40%) {
  #header {
    position: static;
  }
}
